.hero-section {
    background: $neutral-2;
    padding-block: $size-80;

    &_flex {
        display: grid;
        grid-template-columns: auto 400px;
        gap: $size-24;
    }

    &_title {
        padding-block: $size-24;

        h1 {
            font-size: $size-56;
            font-family: $font-default;
            font-weight: $font-weight-semibold;
            color: $neutral-90;
            margin-bottom: $size-16;
            padding-right: $size-48;
        }

        p {
            font-size: $size-20;
            font-weight: $font-weight-regular;
            color: $neutral-60;
            margin-bottom: $size-16;
        }
    }

    &_image {
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:768px) {
    .hero-section {
        padding-top: 0;
        padding-bottom: $size-40;

        &_flex {
            display: flex;
            flex-wrap: wrap;
            gap: $size-40;
        }

        &_image {
            order: 1;
            height: 550px;
            margin-inline: -$size-24;
        }

        &_title {
            order: 12;
            padding-block: 0;

            h1 {
                font-size: $size-40;
                line-height: 112%;
            }
        }
    }

}