.member-stories {
    &_wrapper {
        &-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $size-48;
        }
    }

}

@media screen and (max-width:768px) {
    .member-stories {
        &_wrapper {
            &-grid {
                grid-template-columns: repeat(1, 1fr);
                gap: 0;
            }
        }
    }
}