@use "./variables" as *;

body {
    background: $neutral-2 !important;
    margin: 0;
    font-family: $font-default;
}

h2 {
    font-size: $size-48;
    font-weight: $font-weight-semibold;
    font-family: $font-default;
    color: $neutral-90;
    margin-bottom: $size-24;
}

h3 {
    font-size: $size-32;
    font-weight: $font-weight-regular;
    font-family: $font-alternate;
    line-height: 150%;
}

.padding-block {
    padding-block: $size-80;
}

@media screen and (max-width:1024px) {
    .container {
        padding-inline: $size-24;
    }
}

@media screen and (max-width:768px) {

    .padding-block {
        padding-block: $size-40;
    }

    h2 {
        font-size: $size-40;
    }
}