.footer-wrapper {
    background: $neutral-90;
    padding-block: $size-24;

    &_link {
        display: flex;
        align-items: center;
        gap: $size-24;

        .footer-link {
            ul {
                display: flex;
                color: $neutral-5;
                gap: $size-24;
            }

        }
    }

    &_social {
        display: flex;
        gap: $size-8;

        a {
            padding: $size-8;
            display: flex;
            align-items: center;
        }
    }

    .footer-copyright {
        color: $neutral-30;
        font-size: $size-12;
        font-weight: $font-weight-regular;
        text-align: center;
        margin-top: 36px;
    }
}

@media screen and (max-width:768px) {
    .footer-wrapper {

        &_link {
            text-align: center;
            display: block;

            .footer-icon {
                img {
                    margin-inline: auto;
                }
            }

            .footer-link {
                margin-top: $size-8;

                ul {
                    justify-content: center;
                }
            }
        }

        &_social {
            justify-content: center;
            margin-top: $size-8;
        }

        .footer-copyright {
            margin-top: 36px;
        }
    }
}